:root {
    --latte: #cb997eff;
    --beige: #ddbea9ff;
    --cream: #ffe8d6;
    --light: #fff1e7ff;
    --mint: #a9efe0;
    --full: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--beige);
    color: var(--cream);
    font-size: 1.8rem;
    line-height: 1.5
}

header {
    /* display: flex; */
    /* Makes space between h1 and nav */
    /* justify-content: space-between; */
    border-bottom: 0.3rem solid var(--cream);
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

header,
footer {
    background-color: var(--latte);
    width: var(--full);
    min-height: 15vh;

}

footer {
    border-top: 0.3rem solid var(--cream);
    color: var(--light)
}

footer a {
    color: var(--light)
}

/* Removes underline from link */
li a {
    text-decoration: none;
}

main {
    margin: 1.5rem;
    min-height: 70vh;
}