:root {
    --latte: #cb997eff;
    --beige: #ddbea9ff;
    --cream: #ffe8d6;
    --light: #fff1e7ff;
    --mint: #a9efe0;
    --sheer: #ffe8d686;
    --full: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--beige);
    color: var(--cream);
    font-family: 'Andale Mono', Courier, monospace;
    font-size: 1.8rem;
    line-height: 1.5
}

/* Header */
header {
    border-bottom: 0.3rem solid var(--cream);
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

header h1 {
    color: var(--light);
    font-size: 3.5rem;
    ;
}

/* Navigation */
nav {
    font-size: 2rem;
}

.nav-link {
    color: var(--beige)
}

.nav-link:hover {
    color: var(--mint) !important
}

.nav-link:focus {
    color: var(--mint) !important
}

header,
footer {
    background-color: var(--latte);
    width: var(--full);
    min-height: 15vh;

}

main {
    margin: 1.5rem;
    min-height: 70vh;
}

.title {
    background-color: var(--sheer);
    border: 0.5rem double var(--latte);
    color: var(--latte);
    font-size: 2.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    width: var(--full);
}

/* Abouut Me */
.about-profile img {
    border: .5rem double var(--latte);
    width: 30rem;
    height: 35rem;
}

.bio {
    background-color: #ffe8d686;
    border: .5rem double var(--latte);
    color: var(--latte);
    font-size: 2rem;
    height: 35rem;
    padding: 6.5rem 5rem;
    width: 50%;
}

/* Portfolio */
a {
    text-decoration: none;
}

.project {
    border: 0.5rem double var(--latte);
    background-color: var(--cream);
}

.project a img{
    border-bottom: 0.3rem solid var(--latte);
}

.details h5{
    font-size: 2.5rem;
    color: var(--latte);
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--latte);
}

.details a {
    color: var(--latte);
    padding-top: 0.5rem;
}

.details a:hover {
    color: var(--mint);
}

/* Contact */
form {
    margin: 3rem auto;
    padding: 1rem 0;
    background-color: var(--sheer);
    border: .5rem double var(--latte);
    width: 50%;
    height: 50rem;
    text-align: center;
}

form label {
    color: var(--latte);
    display: inline-block;
    font-size: 2rem;
    text-align: left;
    width: 75%;
    margin: 1rem;
}

form input {
    background-color: var(--cream);
    border: 0.2rem solid var(--latte);
    padding: 1rem;
    color: var(--beige);
    width: 75%;
}

.message {
    height: 15rem;
}

::placeholder {
    color: var(--beige);
}

form button {
    height: 3.5rem;
    width: 20rem;
    margin-top: 1rem;
    border: .2rem solid var(--latte);
    background-color: var(--cream);
    color: var(--latte);
    border-radius: 2rem;
}

form button:hover {
    border: .2rem solid rgb(33, 129, 80);
    background-color: var(--mint);
    color: rgb(33, 129, 80);
}

.error-text {
    color: rgb(33, 129, 80);
}

/* Resume */
.resume {
    background-color: var(--beige) !important;
    border-color: var(--beige) !important;
}

.subtitle {
    color: rgb(104, 132, 118);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.box {
    background-color: var(--sheer);
    border: .5rem double var(--latte);
    height: 30rem;
    margin: 3rem;
    padding: 3rem;
}

.list {
    color: rgb(124, 154, 138);
    list-style-type: none;
}

.download a {
    border: .2rem solid var(--latte);
    background-color: var(--cream);
    color: var(--latte);
    padding: 2rem;
}

.download a:hover {
    border: .2rem solid rgb(33, 129, 80);
    background-color: var(--mint);
    color: rgb(33, 129, 80);
}

/* Footer */
footer {
    border-top: 0.3rem solid var(--cream);
    color: var(--light)
}

footer a {
    color: var(--light)
}

footer a:hover {
    color: var(--mint)
}