:root {
    --latte: #cb997eff;
    --beige: #ddbea9ff;
    --cream: #ffe8d6;
    --light: #fff1e7ff;
    --mint: #a9efe0;
    --full: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--beige);
    color: var(--cream);
    font-family: 'Andale Mono', Courier, monospace;
    font-size: 1.8rem;
    line-height: 1.5
}

header {
    border-bottom: 0.3rem solid var(--cream);
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

header h1 {
    color: var(--light);
    font-size: 3.5rem;;
}

nav {
    font-size: 2rem;
}

.nav-link{
    color: var(--beige) 
}

.nav-link:hover {
    color: var(--mint) !important

}

.nav-link:focus{
    color: var(--mint) !important
}

header,
footer {
    background-color: var(--latte);
    width: var(--full);
    min-height: 15vh;

}

footer {
    border-top: 0.3rem solid var(--cream);
    color: var(--light)
}

footer a {
    color: var(--light)
}

footer a:hover {
    color: var(--mint)
}
/* Removes underline from link */
li a {
    text-decoration: none;
}

main {
    margin: 1.5rem;
    min-height: 70vh;
}